.book-assignment-view {
  background-color: #335C6E;
}

.header {
  padding: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;

  h1 {
    margin: 0;
    color: #CFFAFA;
    text-align: center;
    font-weight: 900;
    padding: 20px;
    line-height: initial;
  }

  h2 {
    margin: 0;
    color: #FFE6DC;
  }

  .header-subtitle {
    text-align: center;
    font-weight: 100;
  }

  .search-button {
    background-color: #FFE6DC;
    color: #335C6E;
    border-radius: 10px;
  }
  .search-input {
    background-color: #ffffff;
    color: #335C6E;
    border-radius: 10px;
    width: 400px;
  }
}


.lists-container {
  display: flex;
  justify-content: space-between;
  padding: 50px;
  background-color: #ffffff;
  border-radius: 50px 50px 0 0;
  /* position: relative; */
  
  .book-card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    display: flex;
    flex-direction: row;
    height: 200px;
    width: 600px;
    border-radius: 20px;
    background-color: #FFFFFF;

    .book-card-content {
      flex: 1;
      display: flex;
      flex-direction: column;
    }
  }

  .book-list,
  .reading-list {
    flex: 1;
    margin-right: 10px;
    margin: 0;
    padding: 50px;
  }
  .pagination {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
    position: fixed;
    bottom: 0;
    width: 50%;
  }

  .reading-list {
    margin-left: 10px;
  }

  .reading-list-container {
    max-height: 50vh; 
    overflow-y: auto;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 10px;
  }

  /* Mobile  */
  @media (max-width: 600px) {
    .lists-container {
      flex-direction: column;
    }
    .book-card {
      height: 150px;
      width: 100%;
      .book-card-content {
        padding: 0;
      }
    }
    .book-list {
      flex-direction: column;
    }
    .book-list,
    .reading-list {
      width: 100%;
      padding: 0;
    }
  }
  /* Desktop */
  @media (max-width: 768px) {
    .lists-container {
      flex-direction: row;
    }
    .book-card {
      height: 150px;
      width: 100%;
    }
    .book-list,
    .reading-list {
      width: 100%;
      padding: 0;
    }
  }

  /* Medium Screen */
  @media (min-width: 1280px) and (max-width: 1920px) {
    .lists-container {
      flex-direction: row;
    }
    .book-card {
      height: 200px;
      width: 100%;
      .book-card-content {
        padding: 5px;
      }
    }
    .book-list,
    .reading-list {
      width: 95%;
      padding: 10px;
    }
  }

  /* Large Screen */
  @media (min-width: 1920px) {
    .book-card {
      height: 200px;
      width: 100%;
      .book-card-content {
        padding: 18px;
      }
    }
    .book-list,
    .reading-list {
      width: 95%;
      padding: 15px;
    }
  }

  
}